<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">
<!--  hibernate-configuration配置hibernate连接  -->
<hibernate-configuration>
      <!--  SessionFactory对象生成时所需配置的信息  -->
        <session-factory name="java:/hibernate/HibernateFactory">
             <!--  是否显示sql  -->
            <property name="show_sql">true</property>
             <!--  采用的jdbc Driver,此处采用mysql的jdbc driver  -->
            <property name="connection.driver_class">org.gjt.mm.mysql.
                 Driver</property>
             <!--  数据库连接地址  -->
            <property name="connection.url">jdbc:mysql://localhost/
                 hibernate</property>
             <!--  连接用户名  -->
            <property name="connection.username">root</property>
             <!--  密码  -->
            <property name="connection.password"></property>
             <!--  数据库方言,此处采用mysql方言  -->
            <property name="dialect">
                 org.hibernate.dialect.MySQLDialect 
            </property>
             <!--  所采用的映射文件列表  -->
            <mapping resource="User.hbm.xml" />
            </session-factory>
 </hibernate-configuration>
